@font-face {
  font-family: ITCAvantGarde;
  font-weight: 700;
  src: url("../assets/fonts/ITC\ Avant\ Garde\ Gothic\ CE\ Demi.otf") format("opentype");
}
@font-face {
  font-family: ITCAvantGarde;
  font-weight: 600;
  src: url("../assets/fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf") format("opentype");
}
@font-face {
  font-family: ITCAvantGarde;
  font-weight: 500;
  src: url("../assets/fonts/ITC\ Avant\ Garde\ Gothic\ CE\ Book.otf") format("opentype");
}
@font-face {
  font-family: Pilowlava;
  font-weight: 400;
  src: url("../assets/fonts/Pilowlava-Regular.otf") format("opentype");
}

:root {
  --primary: #000;
  --ternary: rgba(0,0,0, .24);
  color: var(--primary);
  font-size: 15px;
  font-family: ITCAvantGarde, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.special-font {
  font-family: Pilowlava !important;
  font-weight: 400 !important;
  letter-spacing: -1px !important;
}

/*
@media only screen and (max-width: 480px) {
  :root {
    font-size: 13.5px;
  }
}
*/

body {
  margin: 0;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  box-sizing: border-box;
  transition: background-color 0.7s;

  --background: var(--start-primary);
  --start-primary: #fff;
  --q1-primary: #fff;
  --q2-primary: #eb1530;
  --q3-primary: #f11dd5;
  --q4-primary: #3639de;
  --q5-primary: #23e2d4;
  --q6-primary: #1bad39;
  --q7-primary: #f2f106;
  --q8-primary: #ff5f00;
  --q9-primary: #000;

  --special-color: #ec008c;

  --q1-primary: #fff;
  --q2-primary: #e91c32;
  --q3-primary: #ec008c;
  --q4-primary: #3b449b;
  --q5-primary: #33c1d5;
  --q6-primary: #20ad4b;
  --q7-primary: #ffe300;
  --q8-primary: #e86024;
  --q9-primary: #070f1d;
  --q10-primary: #101606;
  --q11-primary: #2f0606;
  --q12-primary: #000;
  background-color: var(--background);
}
body.q7,
body.q8,
body.q9,
body.q10,
body.q11,
body.q12,
body.q13 {
  --background: var(--q12-primary);
  --primary: #fff;
  --ternary: rgba(255,255,255, .24);
}
body.q7 .logo,
body.q8 .logo,
body.q9 .logo,
body.q10 .logo,
body.q11 .logo,
body.q12 .logo,
body.q13 .logo {
  filter: invert(100%);
}

/*** GLOBAL SCREENS ***/
.game-screen,
.calculating-screen,
.start-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.screen-out-transition {
  transition: 470ms;
  transition-property: opacity;
  transition-delay: 1290ms;
  transition-timing-function: ease-in;
}
.screen-out-transition::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--q1-primary);
  z-index: 10000;

  transition: 400ms;
  transition-property: transform;
  transition-delay: 400ms;
  transition-timing-function: ease-in;
}
.screen-out-transition.screen-out-start {
  opacity: 1;
}
.screen-out-transition.screen-out-end  {
  opacity: 0;
}
.screen-out-transition.screen-out-start::after {
  transform: translateY(100%);
}
.screen-out-transition.screen-out-end::after  {
  transform: translateY(0%);
}

.top-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 56px;
  left: 0;
  top: 0;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
  z-index: 2;
}
.logo {
  height: 1.4rem;
  transition: 0.7s;
  margin-right: 1.5rem;
  user-select: none;
}
.logo.mark {
  height: 2rem;
  transition: 0.7s;
  margin-top: 2px;
}

/*** SCREEN: Start ***/
.start-screen {
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: var(--start-primary);
  overflow: hidden;
}
.start-screen .button {
  margin: auto auto 4rem auto;
}

.fluid-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  z-index: -20;
}
.fluid {
  position: absolute;
  width: 110vw;
  user-select: none;
  pointer-events: none;
  animation: fluid-blink 10s step-end infinite;
  transform: translateY(-9%);
}
.foot {
  width: 80vw;
  position: absolute;
  z-index: 1;
  right: 0;
  transform: translateY(-1%);
  user-select: none;
}

.type {
  position: absolute;
  width: 130vw;
  user-select: none;
  pointer-events: none;
}

.super-title {
  position: absolute;
  margin: 0;
  left: 2rem;
  top: 5rem;
  font-size: 2.56rem;
  font-weight: 700;
  z-index: -20;

  line-height: 2.6rem;
}
@keyframes fluid-blink {
  0% {
    fill: var(--q1-primary);
  }
  12% {
    fill: var(--q2-primary);
  }
  25% {
    fill: var(--q3-primary);
  }
  37% {
    fill: var(--q4-primary);
  }
  50% {
    fill: var(--q5-primary);
  }
  62% {
    fill: var(--q6-primary);
  }
  75% {
    fill: var(--q7-primary);
  }
  87% {
    fill: var(--q8-primary);
  }
  100% {
    fill: var(--q1-primary);
  }
}

.bottom-banner {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 46px;
  bottom: 0;
  box-shadow: 0 -1px var(--primary);

  color: var(--primary);
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 100;
}
.bottom-banner::after {
  position: absolute;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  background-color: var(--start-primary);
}
.banner-unit {
  position: relative;
  display: flex;
  flex-shrink: 0;

  animation: marquee-left 12s linear infinite;
}
.banner-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex-grow: 1;
  flex-shrink: 0;
  text-transform: uppercase;

  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  transition: .7s;
}
.banner-item::after {
  position: absolute;
  content: '·';
  left: 0;
  text-transform: uppercase;
}
@keyframes marquee-left {
  from {transform: translateX(0%);}
  to {transform: translateX(-100%);}
}

.sliding-backdrop {
  position: fixed;
  width: 100vw;
  z-index: -100;
  top: calc(50%);
  transform: translate3d(0, -50%, 0);
  opacity: 1;
}

.sliding-backdrop::after {
  position: absolute;
  display: none;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 1) 65%, transparent);
}

.sliding-banner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(var(--height) - 1px);
  bottom: 0;

  color: var(--primary);
  --sliding-duration: 9000ms;
  flex-shrink: 0;
  z-index: -1;

  --height: 80px;
}

.sliding-unit {
  position: relative;
  display: flex;
  flex-shrink: 0;
  height: var(--height);

  animation: slide-left 9000ms linear infinite;
  animation-duration: var(--sliding-duration);
}
.sliding-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 3rem 0 3rem;
  flex-grow: 1;
  flex-shrink: 0;
  text-transform: uppercase;
  height: inherit;

  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  transition: none;
  border-radius: calc(var(--height)/2);
  box-shadow: inset 0 0 0 1px var(--color);
  box-sizing: border-box;
  overflow: hidden;

  --color: var(--primary);
  --text: #fff;
}
@keyframes slide-left {
  from {transform: translateX(0%);}
  to {transform: translateX(-100%);}
}

.sliding-item.emphasis {
  color: var(--text);
}
.sliding-item.emphasis::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color);
  z-index: -1;
  opacity: .87;
}

.charms-container {
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: none;
  user-select: none;
  top: 6vh;
}
.charms-container > img {
  position: absolute;
  width: 23.5vh;
  height: auto;
  transition: 3s;

  animation: bobbing 2s alternate ease-in-out infinite;
}

@keyframes bobbing {
  from {transform: translateY(0);}
  to {transform: translateY(4vh);}
}

.actors {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 100dvh;
  top: -10vh;
}
.charms-container::after {
  position: absolute;
  content: '';
  top: -6vh;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  z-index: -1;
  transform: rotate(45deg) scale(.9);
  margin: auto 0;
  box-shadow: 0 0 0 1px var(--primary);
  -webkit-backdrop-filter: blur(25px);
}
.actors img {
  position: absolute;
  height: 100%;
  transform-origin: bottom center;
}

.actor-in {
  transition: transform 750ms, opacity 500ms;
}
.actor-in-start {
  opacity: 0;
  transform: scale(.85) translateY(3%);
}
.actor-in-end {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.actor-out {
  transition: 400ms;
}
.actor-out-start {
  opacity: 1;
  transform: translateY(0%);
  filter: blur(0);
}
.actor-out-end {
  opacity: 0;
  transform: translateY(-3%);
  filter: blur(10px);
}

@media only screen and (min-width: 640px) {
  .charms-container {
    width: 540px;
  }
}

/*** SCREEN: Game ***/
.game-screen .fluid-container {
  filter: blur(100px) saturate(2);
  opacity: 0.33;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 70vh;
}

img.MBTICycle {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 140vw;
  align-self: center;
  transform: translate(-50%, -50%);
}

@media screen and (orientation:portrait) {
  img.MBTICycle {
    width: 140vh;
  }
}

.question-box {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  padding-bottom: 1.5rem;
  box-sizing: border-box;
  color: var(--primary);
}
h2.index {
  width: 6rem;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  margin-right: 1.5rem;
  transform: translateY(-6px);
  transition: 0.7s;
  letter-spacing: 0.5px;
  text-align: center;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 0 2px var(--primary);
  box-sizing: border-box;
  flex-shrink: 0;
  padding-top: 12px;
  letter-spacing: -2px;

  -webkit-backdrop-filter: blur(100px);
}
h2.index.next {
  position: absolute;
  left: 0;
}
h2.index.transition {
  filter: blur(10px);
}
h2.index.out {
  opacity: 0;
}
h2.index.in {
  opacity: 1;
}
h4.title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  width: 100%;
  transition: 0.7s;
  text-transform: uppercase;
}
.progression-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4px;
  -webkit-backdrop-filter: blur(100px);
}
.progression-bar::after,
.progression-bar > .fill {
  position: absolute;
  content: '';
  width: 100%;
  height: inherit;
  background-color: var(--primary);
  transition: 0.7s;
}
.progression-bar::after {
  opacity: .24;
}
.progression-bar > .fill {
  transition: width 0.7s ease-in-out;
}

@keyframes flower-box-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flower-box-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60%;
  pointer-events: none;
  cursor: pointer;
}

.flower-box-in {
  transition: 2s;
}
.flower-box-in-start {
  opacity: 0;
  transform: scale(0.8);
}
.flower-box-in-end {
  opacity: 1;
  transform: scale(1);
}

.flower-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: flower-box-rotate 20s linear infinite;
}
.flower-box > * {
  position: absolute;
}
.flower-box > img {
  width: var(--width);
  transform-origin: bottom center;
  padding-bottom: var(--distance);
  transition: 4s;
  --distance: 2vw;
  --width: 24vh;
  filter: saturate(1.4);
}
.flower-box > img:nth-child(1) {
  transform: translateY(calc(var(--distance)*-1 - var(--width)/2)) rotate(calc(360deg/8 * 1));
}
.flower-box > img:nth-child(2) {
  transform: translateY(calc(var(--distance)*-1 - var(--width)/2)) rotate(calc(360deg/8 * 2));
}
.flower-box > img:nth-child(3) {
  transform: translateY(calc(var(--distance)*-1 - var(--width)/2)) rotate(calc(360deg/8 * 3));
}
.flower-box > img:nth-child(4) {
  transform: translateY(calc(var(--distance)*-1 - var(--width)/2)) rotate(calc(360deg/8 * 4));
}
.flower-box > img:nth-child(5) {
  transform: translateY(calc(var(--distance)*-1 - var(--width)/2)) rotate(calc(360deg/8 * 5));
}
.flower-box > img:nth-child(6) {
  transform: translateY(calc(var(--distance)*-1 - var(--width)/2)) rotate(calc(360deg/8 * 6));
}
.flower-box > img:nth-child(7) {
  transform: translateY(calc(var(--distance)*-1 - var(--width)/2)) rotate(calc(360deg/8 * 7));
}
.flower-box > img:nth-child(8) {
  transform: translateY(calc(var(--distance)*-1 - var(--width)/2)) rotate(calc(360deg/8 * 8));
}

.flower-box-in .flower-box > img  {
  transition-delay: 0.8s;
}

.flower-box-in-start .flower-box > img:nth-child(1),
.flower-box-in-start .flower-box > img:nth-child(2),
.flower-box-in-start .flower-box > img:nth-child(3),
.flower-box-in-start .flower-box > img:nth-child(4),
.flower-box-in-start .flower-box > img:nth-child(5),
.flower-box-in-start .flower-box > img:nth-child(6),
.flower-box-in-start .flower-box > img:nth-child(7),
.flower-box-in-start .flower-box > img:nth-child(8) {
  transform: translateY(calc(var(--distance)*-1 - var(--width)/2));
}


ul {
  padding: 0;
  width: 100%;
  margin: 1rem auto;
  max-width: 600px;
}
li {
  display: block;
  list-style-type: none;
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
  transition: 240ms;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px var(--primary);
  color: var(--primary);
  opacity: 0.68;
  transform: scale(0.96);
  letter-spacing: 0.5px;
  -webkit-backdrop-filter: blur(100px);
} 
li:hover:not(.selected),
li:focus:not(.selected) {
  box-shadow: 0 0 0 2px var(--primary);
  opacity: .86;
}
li.selected {
  background-color: var(--ternary);
  box-shadow: 0 0 0 2px var(--primary);
  opacity: 1;
  transform: scale(1);
}
li > a {
  width: 100%;
  height: 100%;
  color: inherit;
  transition: inherit;
  text-decoration-line: none;
  cursor: inherit;
}

.button {
  position: relative;
  width: 14rem;
  max-width: 100%;
  height: 48px;
  flex-shrink: 0;
  cursor: pointer;
  align-self: flex-end;
  font-family: ITCAvantGarde, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem;
  user-select: none;
  color: var(--background);
  border: 0;
  background-color: var(--primary);
  box-shadow: 0 0 0 1px var(--primary);
  box-sizing: border-box;
  transition: 0.7s;
  letter-spacing: 1px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  letter-spacing: 4px;
}

/*** SCREEN: Calculate ***/
.calculating-screen {
  align-items: center;
  justify-content: center;
  color: var(--primary);
  letter-spacing: 0.5px;
}